<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper  3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlj.mapper.UserMapper" >
    <insert id="addUser" >insert into bs_user(account,pwd,nickName) values(#{name},#{pwd},#{nickName})</insert>
    <select id="selectUname" resultType="com.zlj.bean.User">select * from bs_user where account = #{name} </select>
</mapper>